@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height and nice font */
html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff; /* light gray page background */
}

/* Optional: style all buttons globally */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}
